<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="logo" type="image/png" href="images/icons/wazn.jpg"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>
<div align="center">
    <img src="images/icons/wazn.jpg">
</div>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="lab100">
                Account
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100">Mobile</th>
                            <th class="cell100">Email</th>
                            <th class="cell100">Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <th:block th:each="data : ${allAccount}">
                                <tr class="row100 body">
                                    <td th:text="${data.mobile}" class="cell100"></td>
                                    <td th:text="${data.email}" class="cell100"></td>
                                    <td th:text="${data.name}" class="cell100"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="lab100">
                Document
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100">Mobile</th>
                            <th class="cell100">BirthDate</th>
                            <th class="cell100">Gender</th>
                            <th class="cell100">Nationality</th>
                            <th class="cell100">Document Type</th>
                            <th class="cell100">Document Number</th>
                            <th class="cell100">Issuing Country</th>
                            <th class="cell100">Personal Number</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <th:block th:each="data : ${allDocument}">
                            <tr class="row100 body">
                                <td th:text="${data.mobile}" class="cell100"></td>
                                <td th:text="${data.birthDate}" class="cell100"></td>
                                <td th:text="${data.gender}" class="cell100"></td>
                                <td th:text="${data.nationality}" class="cell100"></td>
                                <td th:text="${data.documentType}" class="cell100"></td>
                                <td th:text="${data.documentNumber}" class="cell100"></td>
                                <td th:text="${data.issuingCountry}" class="cell100"></td>
                                <td th:text="${data.personalNumber}" class="cell100"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="lab100">
                Report
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100">Mobile</th>
                            <th class="cell100">Entered On</th>
                            <th class="cell100">Location</th>
                            <th class="cell100">Entered By</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <th:block th:each="data : ${allDocument}">
                            <tr class="row100 body">
                                <td th:text="${data.reportEntity.mobile}" class="cell100"></td>
                                <td th:text="${data.reportEntity.enteredOn}" class="cell100"></td>
                                <td th:text="${data.reportEntity.location}" class="cell100"></td>
                                <td th:text="${data.reportEntity.enteredBy}" class="cell100"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="lab100">
                Report Details
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100">Mobile</th>
                            <th class="cell100">Document Bearer</th>
                            <th class="cell100">Face Match</th>
                            <th class="cell100">Check MRZ</th>
                            <th class="cell100">Auto Authentications</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <th:block th:each="data : ${allDocument}">
                            <tr class="row100 body">
                                <td th:text="${data.resultEntity.mobile}" class="cell100"></td>
                                <td th:text="${data.resultEntity.assessmentDocumentBearer}" class="cell100"></td>
                                <td th:text="${data.resultEntity.faceMatch}" class="cell100"></td>
                                <td th:text="${data.resultEntity.checkMRZ}" class="cell100"></td>
                                <td th:text="${data.resultEntity.automationAuthentications}" class="cell100"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="lab100">
                Meeting
            </div>
            <div class="table100 ver1 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100">Mobile</th>
                            <th class="cell100">Start Date</th>
                            <th class="cell100">End Date</th>
                            <th class="cell100">Note</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <th:block th:each="data : ${allMeeting}">
                            <tr class="row100 body">
                                <td th:text="${data.mobile}" class="cell100"></td>
                                <td th:text="${data.startDate}" class="cell100"></td>
                                <td th:text="${data.endDate}" class="cell100"></td>
                                <td th:text="${data.note}" class="cell100"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>